.wd-gray-text {
  font-size: 14px;
  color: gray;
}

.wd-header {
  margin-bottom: 15px;
  margin-top: 5px;
}

.wd-arrow {
  width: 10%;
  margin-right: 3.5%;
  margin-left: 5%;
}

.wd-title {
  width: 85%;
  margin-right: 67%;
}

.wd-card {
  border: 1px solid #d3d3d3;
  float: left;
  width: 100%;
  display: flex;
  padding-right: 5px;
}

.wd-padd {
  padding-right: 10px;
}

.wd-curve-bottom {
  border-radius: 0 0 10px 10px;
}

.wd-curve-top {
  border-radius: 10px 10px 0 0;
}
.wd-blue {
  color: rgb(29, 124, 220);
}

.wd-profile-image {
  width: 80px;
  height: 50px;
  margin-left: 0px;
  margin-right: 5px;
  margin-top: 7px;
  padding-left: 2%;
  padding-right: 2%;
  border-radius: 50%;
}
.wd-body-text {
  padding-left: 12px;
  width: 100%;
}
.wd-cross {
  float: right;
}

.wd-row {
  display: inline-block;
}

.wd-user-info {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.wd-tweet-header {
  width: 100%;
  margin-right: 10px;
  margin-bottom: 12px;
  display: inline-block;
}

.wd-first-row {
  display: flex;
  align-items: center;
  padding: 0px;
}

.wd-inline-display {
  display: inline-block;
}

.wd-inner-card {
  border: 1px solid #d3d3d3;
  margin-top: 10px;
  border-radius: 10px;
  width: 100%;
  margin-bottom: 10px;
}

.wd-card-img {
  width: 100%;
  height: 60%;
  margin-left: 0px;
  padding-left: 0px;
  margin-bottom: 5px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.wd-margin-5 {
  margin: 5px;
}

.wd-marginb-1 {
  margin-bottom: 1px;
}

.wd-buttons-row {
  margin-bottom: 0px;
  padding-bottom: 0px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.wd-first-button {
  margin-right: 5px;
}

.wd-buttons {
  margin-left: 70px;
  margin-right: 0px;
}

.wd-last-button {
  margin-left: 30px;
}
.wd-last-card-button {
  margin-left: 52px;
}

.wd-buttons-row-last-card {
  display: inline-block;
  margin-bottom: 30px;
  padding-bottom: 0px;
}

.wd-pink-button {
  color: #ff1694;
  display: inline-block;
}

.wd-next-card {
  float: left;
  display: flex;
  padding-right: 4px;
  padding-top: 12px;
}

.wd-href-color {
  color: #2b60de;
  display: inline-block;
}

.wd-none-decor {
  text-decoration: none;
}

.list-border {
  outline: 1px solid;
}
